#tonglan1_tp,#title_ad1_tp{DISPLAY: none}
#mainad2-tp{DISPLAY: none}
#tonglan3_tp{DISPLAY: none}
#con_bo_tp{DISPLAY: none}
#title_ad1{clear:both; text-align:center; padding:3px}
#title_ad2{clear:both; text-align:left; padding:3px}
#shoucang{clear:both; text-align:left; padding:5px 0 10px 5px}
#con_tj{FLOAT: left}
#con_tj_tp{PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px}
#con_da2_tp{PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px}
#con_da8_tp{PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px}
#art_con{BORDER-BOTTOM: #9db3db 1px solid; BORDER-LEFT: #9db3db 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #9db3db 1px solid; BORDER-RIGHT: #9db3db 1px solid; PADDING-TOP: 0pxp; background:#F7FCFF}
#art_con H1{TEXT-ALIGN: center; LINE-HEIGHT: 40px; HEIGHT: 40px; COLOR: #690; FONT-SIZE: 18px; OVERFLOW: hidden}
#art_info{BORDER-BOTTOM: #accee0 1px dotted; COLOR: #999999; BORDER-TOP: #accee0 1px dotted}
#art_demo{TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-INDENT: 30px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 14px; PADDING-TOP: 0px}
#art_content{TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 180%; MARGIN: 0px auto; PADDING-LEFT: 5px; WIDTH: 630px; PADDING-RIGHT: 5px; WORD-WRAP: break-word; CLEAR: both; FONT-SIZE: 14px; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 0px; }
#art_content table{clear:both}
#art_content tbody td{padding:8px; font-size:14px; line-height:200%}
#art_content P{padding: 5px 0 5px 0;LINE-HEIGHT: 180%; FONT-SIZE: 14px}
#art_content SPAN{LINE-HEIGHT: 180%; FONT-SIZE: 14px}
#art_content img{border:1px solid #cccccc; padding:5px}
#art_content DIV{LINE-HEIGHT: 180%; FONT-SIZE: 14px}
#art_content FONT{LINE-HEIGHT: 180%; FONT-SIZE: 14px}
#art_content A:link{COLOR: #006699; FONT-SIZE: 14px}
#art_content A:visited{COLOR: #006699; FONT-SIZE: 14px}
#art_content A:hover{COLOR: red; FONT-SIZE: 14px}
table.jbborder{border-collapse: collapse; border: none; }
table.jbborder td { border: solid 1px #E3E3E3; padding:3px} 
table.dataintable{font-family:Arial, Helvetica, sans-serif;margin-top:10px;border-collapse:collapse;border:1px solid #888;width:100%;}
table.dataintable pre{width:auto;margin:0;padding:0;border:0;background-color:transparent;}
table.dataintable th{vertical-align:baseline;padding:5px 15px 5px 5px;background-color:#ccc;border:1px solid #888;}
table.dataintable td{vertical-align:text-top;padding:5px 15px 5px 5px;background-color:#efefef;border:1px solid #aaa;}
table.dataintable p{margin:0 0 2px 0;}
.tjkeyword{MARGIN: 0px auto; WIDTH: 600px; COLOR: #333; CLEAR: both}
.tjkeyword UL{}
.tjkeyword UL LI{LINE-HEIGHT: 23px; WIDTH: 80px; DISPLAY: inline; FLOAT: left; HEIGHT: 23px}
#art_xg{TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px}
#art_xg H4{COLOR: #006699; FONT-SIZE: 14px; FONT-WEIGHT: bold}
#art_xg ul{margin:0; padding:0}
#art_xg ul li{TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #006699; FONT-SIZE: 14px; PADDING-TOP: 0px}
#art_xg ul li A:link{COLOR: #006699; FONT-SIZE: 14px}
#art_xg ul li A:visited{COLOR: #006699; FONT-SIZE: 14px}
#art_xg ul li A:hover{COLOR: #006699; FONT-SIZE: 14px}
#toollinks{TEXT-ALIGN: right; LINEt-HEIGHT: 34px; MARGIN: 10px 0px 0px; HEIGHT: 34px; COLOR: #666; BORDER-TOP: #b2b2b2 1px dashed}
#toollinks A:link{BORDER-BOTTOM: #b2c9d3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #b2c9d3 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; WIDTH: 75px; PADDING-RIGHT: 8px; BACKGROUND: #f7f9ff; COLOR: #000; MARGIN-LEFT: 5px; BORDER-TOP: #b2c9d3 1px solid; BORDER-RIGHT: #b2c9d3 1px solid; PADDING-TOP: 4px}
#toollinks A:visited{BORDER-BOTTOM: #b2c9d3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #b2c9d3 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; WIDTH: 75px; PADDING-RIGHT: 8px; BACKGROUND: #f7f9ff; COLOR: #000; MARGIN-LEFT: 5px; BORDER-TOP: #b2c9d3 1px solid; BORDER-RIGHT: #b2c9d3 1px solid; PADDING-TOP: 4px}
#toollinks A:hover{BORDER-BOTTOM: #7f99ae 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #7f99ae 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; WIDTH: 75px; PADDING-RIGHT: 8px; BACKGROUND: #a3bacc; COLOR: #fff; MARGIN-LEFT: 5px; BORDER-TOP: #7f99ae 1px solid; BORDER-RIGHT: #7f99ae 1px solid; PADDING-TOP: 4px}
#toollinks A:active{BORDER-BOTTOM: #7f99ae 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #7f99ae 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; WIDTH: 75px; PADDING-RIGHT: 8px; BACKGROUND: #a3bacc; COLOR: #fff; MARGIN-LEFT: 5px; BORDER-TOP: #7f99ae 1px solid; BORDER-RIGHT: #7f99ae 1px solid; PADDING-TOP: 4px}
#pl{TEXT-ALIGN: left; PADDING-BOTTOM: 5px; MARGIN: 5px auto; PADDING-LEFT: 5px; WIDTH: 630px; PADDING-RIGHT: 5px; CLEAR: both; PADDING-TOP: 5px}
.codetitle{BORDER-LEFT: #0099cc 1px solid; PADDING-BOTTOM: 0px; MARGIN: 3px auto 0px; PADDING-LEFT: 3px; WIDTH: 600px; PADDING-RIGHT: 3px; BACKGROUND: #f2f6fb; CLEAR: both; FONT-SIZE: 14px; BORDER-TOP: #0099cc 1px solid; BORDER-RIGHT: #0099cc 1px solid; PADDING-TOP: 0px}
.codetitle SPAN{FLOAT: right}
.codebody{BORDER-BOTTOM: #0099cc 1px solid; BORDER-LEFT: #0099cc 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px auto 3px; PADDING-LEFT: 5px; WIDTH: 598px; PADDING-RIGHT: 3px; BACKGROUND: #ddedfb; CLEAR: both; FONT-SIZE: 14px; BORDER-TOP: #0099cc 1px solid; BORDER-RIGHT: #0099cc 1px solid; PADDING-TOP: 0px}
.htmlarea{TEXT-ALIGN: center; PADDING-BOTTOM: 3px; MARGIN: 0px auto; PADDING-LEFT: 3px; WIDTH: 550px; PADDING-RIGHT: 3px; CLEAR: both; FONT-SIZE: 14px; PADDING-TOP: 3px}
.htmlarea TEXTAREA{WIDTH: 96%; HEIGHT: 200px; FONT-SIZE: 14px}
A.button_link{BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 3px; PADDING-LEFT: 8px; WIDTH: 75px; PADDING-RIGHT: 8px; BACKGROUND: #f7f7f7; COLOR: #000000; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #000000 1px solid; PADDING-TOP: 4px}
A.button_link:hover{BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #000000; BACKGROUND: #ccc; COLOR: #333; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-COLOR: #000000; TEXT-DECORATION: none}
A.button_link:active{BACKGROUND: #d9d9d9; COLOR: #000000; TEXT-DECORATION: none}
A.button_link:link{BACKGROUND: #d9d9d9; COLOR: #000000; TEXT-DECORATION: none}
A.button_link:visited{BACKGROUND: #d9d9d9; COLOR: #000000; TEXT-DECORATION: none}
.all_div{PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 640px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
.diggArea{TEXT-ALIGN: center; MARGIN: 3px 8px 0px 3px; WIDTH: 57px; BACKGROUND: url(http://img.jb51.net/images/dig_bg.gif) no-repeat; FLOAT: right; HEIGHT: 50px; COLOR: #ff0000; TEXT-DECORATION: none; PADDING-TOP: 13px}
.diggNum{PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 40px; COLOR: #ffffff; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px}
.diggLink{PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
.diggLink A:link{COLOR: red; TEXT-DECORATION: none}
.diggLink A:visited{COLOR: red; TEXT-DECORATION: none}
#prenext{PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #fff; HEIGHT: 30px; CLEAR: both; BORDER-TOP: #d0dbe7 1px solid; BORDER-bottom: #d0dbe7 1px solid;PADDING-TOP: 0px; text-align:left}
#prenext #prv{WIDTH: 315px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden}
#prenext #next{WIDTH: 315px; FLOAT: right; HEIGHT: 30px; OVERFLOW: hidden}
.con_ff{TEXT-ALIGN: right; LINE-HEIGHT: 30px; MARGIN: 10px 0px 0px; HEIGHT: 30px; COLOR: #666;}
.tags{background: #FFFFFF;border: 1px dashed #CAE5FF;height: 24px; line-height:24px;margin: 0 auto;padding-left: 10px;padding-right: 10px;width: 550px; text-align:left}
.tags a{margin-right:5px}
.gbsearch{TEXT-ALIGN: left}
#con_1{PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 336px; PADDING-RIGHT: 0px; FLOAT: right; CLEAR: right; OVERFLOW: hidden; PADDING-TOP: 0px}
#con_all{PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 620px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 15px}
#con_da1{TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: left; OVERFLOW: hidden; PADDING-TOP: 0px}
#con_da2{TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; clear:both; CLEAR: both; PADDING-TOP: 0px}
#con_da3{TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: right; OVERFLOW: hidden; PADDING-TOP: 0px}
#con_da8{TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; CLEAR: right; OVERFLOW: hidden; PADDING-TOP: 0px}
#con_right{WIDTH: 336px; FLOAT: right; HEIGHT: 280px}
#con_bo_tp{DISPLAY: none}
.sm{MARGIN: 5px auto 0; padding-top:5px; BACKGROUND: #fff; BORDER: #D0DBE7 1px solid;clear:both;width:640px}
.sm A:link{COLOR: #006699; FONT-SIZE: 14px}
.sm A:hover{COLOR: red; FONT-SIZE: 14px}
#numstyle{TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 100%; COLOR: #690; CLEAR: both; FONT-SIZE: 12px}
#numstyle A:link{BORDER-BOTTOM: #b2c9d3 1px solid; BORDER-LEFT: #b2c9d3 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #f7f9ff; COLOR: #333; FONT-SIZE: 12px; BORDER-TOP: #b2c9d3 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #b2c9d3 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px}
#numstyle A:visited{BORDER-BOTTOM: #b2c9d3 1px solid; BORDER-LEFT: #b2c9d3 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #f7f9ff; COLOR: #333; FONT-SIZE: 12px; BORDER-TOP: #b2c9d3 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #b2c9d3 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px}
#numstyle A:hover{BORDER-BOTTOM-COLOR: #2e6ab1; BORDER-TOP-COLOR: #2e6ab1; BACKGROUND: #fff; COLOR: #f60; BORDER-RIGHT-COLOR: #2e6ab1; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #2e6ab1}
#numstyle A:active{BORDER-BOTTOM-COLOR: #2e6ab1; BORDER-TOP-COLOR: #2e6ab1; BACKGROUND: #fff; COLOR: #f60; BORDER-RIGHT-COLOR: #2e6ab1; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #2e6ab1}
#numstyle A STRONG{COLOR: #f60}
#relatedarticle{MARGIN: 0 auto 5px; BACKGROUND: #fff; BORDER: #D0DBE7 1px solid;width:640px}
#relatedarticle H2{BORDER-BOTTOM: #D0DBE7 1px solid; TEXT-ALIGN: left; LINE-HEIGHT: 28px; PADDING-LEFT: 18px; BACKGROUND: url(http://img.jb51.net/images/tdot.gif) #f2f6fb no-repeat 6px 8px; HEIGHT: 28px; COLOR: #004a72; FONT-SIZE: 13px}
#relatedarticle UL{PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; clear:both; PADDING-TOP: 5px}
#relatedarticle LI{TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 20px; WIDTH: 280px; PADDING-RIGHT: 5px; BACKGROUND: url(http://img.jb51.net/images/newsli.gif) no-repeat 8px 50%; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden; PADDING-TOP: 0px}
#comments960{BORDER-BOTTOM: #d0dbe7 1px solid; BORDER-LEFT: #d0dbe7 1px solid; MARGIN: 5px 0px; WIDTH: 958px; BACKGROUND: #fff; BORDER-TOP: #d0dbe7 1px solid; BORDER-RIGHT: #d0dbe7 1px solid}
#comments{MARGIN: 5px auto 0; BACKGROUND: #fff; BORDER: #D0DBE7 1px solid;clear:both;width:640px}
#comments H2{BORDER-BOTTOM: #D0DBE7 1px solid; TEXT-ALIGN: left; LINE-HEIGHT: 28px; PADDING-LEFT: 18px; BACKGROUND: url(http://img.jb51.net/images/tdot.gif) #f2f6fb no-repeat 6px 8px; HEIGHT: 28px; COLOR: #004a72; FONT-SIZE: 13px}
#comments .btn1{BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 24px; WIDTH: 70px; BACKGROUND: #e5ecf5; HEIGHT: 24px; COLOR: #333; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; CURSOR: pointer; BORDER-RIGHT: #ccc 1px solid}
#comments P{BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 26px; MARGIN: 8px 6px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fcfff6; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 4px}
#comments P A{TEXT-DECORATION: none}
#comments P SPAN{FLOAT: left}
#comments UL{BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 6px 6px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fcfcfc; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 4px}
#comments LI{TEXT-ALIGN: right; LINE-HEIGHT: 21px}
#comments LI SPAN{FLOAT: left}
#comments LI STRONG{COLOR: #06c; FONT-WEIGHT: normal}
#comments LI.words{TEXT-ALIGN: left; LINE-HEIGHT: 21px; OVERFLOW: hidden;clear:both; background:#fff; padding-left:20px}
#comments LI A{TEXT-DECORATION: none}
.UBBPanel{BORDER-BOTTOM: 0px dashed; BORDER-LEFT: 0px dashed; BACKGROUND: repeat-x; BORDER-TOP: 0px dashed; BORDER-RIGHT: 0px dashed}
.UBBTitle IMG{DISPLAY: none}
.UBBTitle{PADDING-LEFT: 8px; FONT-FAMILY: Georgia,Helvetica, sans-serif,Times New Roman,宋体; COLOR: #999; FONT-SIZE: 12px}
.UBBContent{PADDING-BOTTOM: 6px; LINE-HEIGHT: 160%; BACKGROUND-COLOR: #f2f6fb; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px}
.UBBContent DIV{WIDTH: 600px}
.UBBContent TEXTAREA{WIDTH: 95%; MARGIN-BOTTOM: 2px}
.rbg{}
.filament_table{border-collapse:collapse !important; border-top:1px solid #A9EA00; border-left:1px solid #C1DAD7; table-layout:fixed;}
.filament_table thead th{background:#A9EA00; color:#FCDE6A; border-bottom:1px solid #C1DAD7; border-right:1px solid #C1DAD7; padding:2px 5px;}
.filament_table tbody td,.filament_table tbody th{border-bottom:1px solid #C1DAD7; border-right:1px solid #C1DAD7; padding:2px 5px; color:#76C2C3;}
.filament_table tfoot td{border-bottom:1px solid #C1DAD7; border-right:1px solid #C1DAD7; background:#A9EA00; color:#FCDE6A; font-size:12px; padding:0;}
.filament_table tbody td a{text-decoration:none; color:#76C2C3;}
.filament_table tbody tr:nth-child(even){background:#F7FBFF;} p::selection{background-color:#68DFFB;color:#FFF;} a::selection{background-color:#a9ea00;color:#FFF;} p::-moz-selection{background:#68DFFB;color:#FFF;} a::-moz-selection{background-color:#a9ea00;color:#FFF;}
.grey{background:#f8f8f8;}
.yellow{background:#ffc;}
.even{background:#f7fbff;}
.hover{background:#CCE593 !important;}
.bc_bot_ad{MARGIN: 5px auto 0; BACKGROUND: #fff; BORDER: #D0DBE7 1px solid;clear:both;width:640px}
#jb51_yxj {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 250px;
	overflow: hidden;
	background-color: #fff;
	position: fixed;
	_position: absolute;
	_bottom: auto;
	_top: expression( eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (documentElement.clientHeight - this.clientHeight) - 1 : document.body.scrollTop + (document.body.clientHeight - this.clientHeight) - 1);
}